main .display {
    background: rgb(200, 255, 117);
    border: solid black 1px;
    padding: 2rem;
}
main button{
    padding: 2rem;
    font-size: 1.5rem;
    margin: .5rem;
    cursor: pointer;
}
main *::selection{
    all: none;
    cursor: none;
}